/* make the nav stiky */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #777;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-link {
  text-decoration: none;
  color: #777;
  font-size: 16px;
  margin-right: 1rem;
}
